h1, p {
  font-family: Lato;
}

body {
  padding: 20px 0;
  min-width: 580px;
}

.group-wrapper {
  padding: 20px 0;
}

.group {
  margin-right: 25px;
  float: left;
}

.group .title {
  text-align: center;
  margin-bottom: 10px;
}

.seat {
  padding: 10px;
  margin: 1px;
  float: left;
}

.seat.window{
  background-color: #aac46c;
}
.seat.middle{
  background-color: #cd655f;
}
.seat.aisle{
  background-color: #6095c9;
}

.seat.clearfix {
  clear: left
}